<div class="card animated fadeIn"  >
    <img [src]="heroe.img" class="card-img-top" [alt]="heroe.nombre">
    <div class="card-body">
        <h5 class="card-title">{{ heroe.nombre }}</h5>
        <p class="card-text">{{ heroe.casa }}</p>
        <p class="card-text">{{ heroe.bio }}</p>
        <p class="card-text"><small class="text-muted">Primera aparición: {{ heroe.aparicion }}</small></p>
        <button type="button" class="btn btn-block btn-outline-primary" (click)="verHeroe()">Ver más...</button>
        <!-- <a [routerLink]="['/heroe', i]" class="btn btn-outline-primary btn-block">Ver más (link)</a> -->
    </div>
</div>